<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.awesomepage.server.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.awesomepage.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatusServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.awesomepage.server.StatusServiceImpl</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>SignUpServiceImp</servlet-name>
    <servlet-class>edu.ycp.cs320.awesomepage.server.SignUpServiceImp</servlet-class>
  </servlet>
      <servlet>
    <servlet-name>EditInfoServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.awesomepage.server.EditInfoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/webapp/greet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/webapp/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatusServiceImpl</servlet-name>
    <url-pattern>/webapp/status</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>SignUpServiceImp</servlet-name>
    <url-pattern>/webapp/sign_up</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>EditInfoServiceImpl</servlet-name>
    <url-pattern>/webapp/editInfo</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet context listeners -->
  <listener>
    <listener-class>edu.ycp.cs320.awesomepage.server.DatabaseInitListener</listener-class>
  </listener>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WebApp.java</welcome-file>
  </welcome-file-list>

</web-app>
